.sidebar-nav {
  @apply flex flex-col items-end fixed right-0 bg-transparent;
  padding-right: 5%;
  bottom: 10%;
}

.sidebar-items {
  @apply hidden sm:block;
}

.sidebar-links {
  @apply flex flex-col text-right text-base font-bold;
  letter-spacing: 0em;
  line-height: 1.6em;
  padding: 0.2em;
}

.sidebar-link {
  @apply no-underline text-green-bright cursor-pointer;
}

.sidebar-link:hover {
  @apply text-secondary-lightest;
}

.sidebar-socials {
  @apply pt-10 w-20 flex flex-row justify-between pb-2;
}

.sidebar-active {
  @apply text-secondary-lightest;
}

@media only screen and (max-width: 640px) {
  .sidebar-nav {
    @apply w-full items-center pr-0 h-12;
    position: unset;
  }

  .sidebar-socials {
    @apply pt-1 flex flex-row justify-around w-24;
    padding-left: unset;
  }
}
