#about {
  @apply flex flex-col justify-start min-h-screen pt-10;
}

.about-content {
  @apply flex flex-row justify-start;
}

.about-description {
  @apply text-secondary w-full sm:max-w-[441px] md:max-w-2xl text-base sm:text-lg font-semibold mb-3 mr-0 sm:mr-1 md:mr-5;
}

.about-description a,
.about-description b {
  @apply font-extrabold;
}

.about-description p {
  @apply mb-3 text-base sm:text-lg;
}

.about-description ul {
  @apply pt-4 grid;
  list-style-type: none;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

.about-description li {
  @apply relative pl-6 text-base sm:text-lg text-secondary;
}

.about-description li::before {
  @apply absolute text-green-bright left-0;
  content: '▹    ';
}

.about-image {
  @apply min-w-[140px] md:min-w-[200px];
}

@media only screen and (max-width: 639px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .about-description ul {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .about-image {
    @apply hidden;
  }
}
