#about {
  @apply flex flex-col justify-start min-h-screen pt-10;
}

.about-content {
  @apply flex flex-row justify-start;
}

.about-description {
  @apply text-secondary w-full sm:max-w-[441px] md:max-w-2xl text-base sm:text-lg font-semibold mb-3 mr-0 sm:mr-1 md:mr-5;
}

.about-description a,
.about-description b {
  @apply font-extrabold;
}

.about-description p {
  @apply mb-3 text-base sm:text-lg;
}

.about-tech-stack {
  @apply text-2xl sm:text-3xl my-3;
}

.about-image-wrapper {
  @apply min-w-[140px] md:min-w-[200px];
}

.about-image {
  @apply rounded-xl;
  border: 2px solid var(--green-bright) !important;
}

@media only screen and (max-width: 639px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .about-image-wrapper {
    @apply hidden;
  }
}
