#experience {
  @apply flex flex-col justify-start min-h-screen pt-10;
}

.joblist-container {
  @apply flex flex-grow flex-col md:flex-row;
}

.joblist-tablist {
  @apply w-full overflow-x-auto flex flex-row md:flex-col md:mr-10 md:space-y-2 md:w-1/4;
}

.joblist-tab {
  @apply w-full p-4 text-base font-semibold text-green-bright text-center md:text-left;
}

.joblist-tab-selected {
  @apply border-b-2 border-green-bright md:border-b-0 md:border-r-2;
}

.joblist-tab-not-selected {
  @apply text-secondary hover:bg-primary-lightest hover:text-green-bright;
}

.joblist-content {
  @apply mt-5 md:mt-0 md:w-full;
}

.joblist-job-title {
  @apply text-lg md:text-3xl font-bold text-secondary-lightest;
}

.joblist-job-company {
  @apply text-lg md:text-3xl font-bold text-green-bright;
}

.joblist-duration {
  @apply text-base md:text-lg text-secondary;
}

.job-description li::before {
  @apply absolute text-green-bright left-0;
  content: '▹    ';
}

.job-description li {
  @apply relative px-8 pb-4 text-secondary;
}

.job-description {
  @apply pt-6 max-w-2xl text-base md:text-lg;
}

.job-description a,
.job-description b {
  @apply text-base md:text-lg font-bold;
}

@media only screen and (max-width: 640px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }
}
