#experience {
  @apply flex flex-col justify-start min-h-screen pt-10;
}
.joblist-container {
  @apply flex flex-col sm:flex-row flex-grow;
}

.joblist-tablist {
  @apply overflow-x-auto flex flex-row sm:flex-col p-1 mr-10 space-y-2 w-full sm:w-44;
}

.joblist-tab {
  @apply w-full p-2.5 text-base text-left leading-5 font-semibold text-green-bright;
}

.joblist-tab-selected {
  @apply shadow border-b-2 sm:border-b-0 sm:border-r-2 border-green-bright;
}

.joblist-tab-not-selected {
  @apply text-secondary hover:bg-primary-lightest hover:text-green-bright;
}

.joblist-job-title {
  @apply text-3xl font-bold text-secondary-lightest;
}

.joblist-job-company {
  @apply text-3xl font-bold text-green-bright;
}

.joblist-duration {
  @apply text-lg text-secondary;
}

.job-description li::before {
  @apply absolute text-green-bright left-0;
  content: '▹    ';
}

.job-description li {
  @apply relative pl-8 pb-4 text-lg text-secondary;
}

.job-description {
  @apply pt-6 max-w-2xl text-xl;
}

.job-description a,
.job-description b {
  @apply text-lg font-bold;
}

@media only screen and (max-width: 640px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
    padding-top: 30%;
  }

  .joblist-job-title,
  .joblist-job-company {
    font-size: 22px;
  }
}
