#intro {
  @apply flex flex-col justify-center min-h-screen;
}

.Typist {
  @apply text-secondary-lightest text-left text-7xl my-4 mx-0;
  .Cursor--blinking {
    @apply text-green-bright;
  }
}

.intro-title {
  @apply text-7xl;
}

.intro-name {
  @apply font-bold text-7xl text-green-bright;
}

.intro-subtitle {
  @apply text-secondary mb-5 text-3xl;
  max-width: 70%;
}

.intro-desc {
  @apply text-secondary mb-7;
  max-width: 60%;
}

.intro-cta {
  @apply flex items-center justify-center w-full mx-auto sm:justify-start;
}

@media only screen and (max-width: 639px) {
  #intro {
    @apply m-0 items-center;
    padding-left: unset;
  }

  .intro-title,
  .intro-name {
    @apply text-5xl;
  }

  .Typist {
    @apply text-4xl;
  }

  .intro-subtitle {
    @apply mb-4 mt-2 text-xl max-w-full text-center;
  }

  .intro-desc {
    @apply mb-4 text-base text-center max-w-full;
  }
}
