#intro {
  @apply flex flex-col justify-center min-h-screen;
}

.intro-title {
  @apply relative text-secondary-lightest text-7xl text-left my-4 mx-0 max-w-max;
}

.intro-name {
  @apply font-bold text-green-bright;
}

.intro-title::before,
.intro-title::after {
  @apply absolute inset-0;
  content: '';
}

.intro-title::before {
  @apply animate-typewriter bg-primary;
}

.intro-title::after {
  @apply w-1.5 rounded-xl mx-1 bg-green-bright animate-typewriter-blink;
}

.intro-subtitle {
  @apply text-secondary mb-5 text-3xl;
  max-width: 70%;
}

.intro-desc {
  @apply text-secondary mb-7;
  max-width: 60%;
}

.intro-cta {
  @apply absolute bottom-2 md:bottom-10 left-1/2 -translate-x-1/2 rounded-md transition-colors text-secondary-lighter hover:text-green-bright focus-visible:text-green-bright;
}

.intro-cta-item {
  @apply w-8 h-8 md:w-10 md:h-10 animate-bounce;
}

@media only screen and (max-width: 639px) {
  #intro {
    @apply m-0 items-center;
    padding-left: unset;
  }

  .intro-title,
  .intro-name {
    @apply text-5xl;
  }

  .intro-subtitle {
    @apply mb-4 mt-2 text-xl max-w-full text-center;
  }

  .intro-desc {
    @apply mb-4 text-base text-center max-w-full;
  }
}
