#about {
  @apply flex flex-col justify-start min-h-screen pt-10;
  padding-right: 15%;
}

.about-description {
  @apply text-secondary max-w-2xl text-base sm:text-lg font-semibold mb-2;
}

.about-description a,
.about-description b {
  @apply font-extrabold;
}

.about-description p {
  @apply mb-2 text-base sm:text-lg;
}

.about-description ul {
  @apply pt-4 grid;
  list-style-type: none;
  grid-template-columns: repeat(3, minmax(150px, 10px));
}

.about-description li {
  @apply relative pl-6 text-base sm:text-lg text-secondary;
}

.about-description li::before {
  @apply absolute text-green-bright left-0;
  content: '▹    ';
}

.about-content {
  @apply flex flex-row;
}

.about-image {
  @apply pl-10;
}

.about-image img {
  @apply h-auto;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: 2px solid var(--green-bright);
}

@media only screen and (max-width: 788px) {
  .about-image img {
    max-width: 150px;
  }
}

.about-image:hover {
  transform: translateY(-7px);
}

@media only screen and (max-width: 640px) {
  #about {
    height: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .about-image img {
    display: none;
  }

  .about-content {
    display: unset;
  }
}
