@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
@import './components/FadeInSection.scss';
@import './components/Footer.scss';
@import './components/PageLoadingBar.scss';
@import './components/SidebarNav.scss';
@import './layouts/Layouts.scss';
@import './sections/About.scss';
@import './sections/Experience.scss';
@import './sections/Introduction.scss';
@import './sections/Projects.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */
  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */
  --primary-darker: #020c1b;
  --primary: #0a192f;
  --primary-lighter: #112240;
  --primary-lightest: #233554;
  --primary-shadow: rgba(2, 12, 27, 0.7);
  --secondary: #8892b0;
  --secondary-lighter: #a8b2d1;
  --secondary-lightest: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
}

@layer base {
  .cursor-newtab {
    cursor: url('/icons/new-tab.png') 10 10, pointer;
  }

  h1 {
    @apply lg:text-5xl text-4xl font-black font-primary;
  }

  h2 {
    @apply lg:text-4xl text-3xl font-black font-primary;
  }

  h3 {
    @apply lg:text-3xl text-2xl font-extrabold font-primary;
  }

  h4 {
    @apply lg:text-2xl text-xl font-extrabold font-primary;
  }

  h5 {
    @apply lg:text-xl text-lg font-extrabold font-primary;
  }

  h6 {
    @apply lg:text-lg text-base font-bold font-primary;
  }

  p {
    @apply text-base font-primary;
  }

  label {
    @apply inline-block font-primary;
  }

  body {
    @apply text-sm font-primary md:text-base;
  }
}

svg {
  @apply font-primary;
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--secondary-lighter),
        var(--secondary-lightest)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
