#intro {
  @apply flex flex-col justify-center min-h-screen;
}

.Typist {
  color: var(--secondary-lightest);
  text-align: start;
  font-size: 76px;
  margin: 50px 0;
  .Cursor--blinking {
    color: var(--green-bright);
    padding-left: 4px;
  }
}

.intro-title {
  font-size: 86px;
}

.intro-name {
  @apply font-bold;
  font-size: 86px;
  color: var(--green-bright);
}

.intro-subtitle {
  color: var(--secondary);
  max-width: 70%;
  margin-bottom: 20px;
  font-size: 28px;
}

.intro-desc {
  color: var(--secondary);
  max-width: 60%;
  margin-bottom: 30px;
}

.intro-cta {
  @apply flex items-center justify-center w-full mx-auto sm:justify-start;
}

@media only screen and (max-width: 600px) {
  #intro {
    padding-left: unset;
    align-items: center;
    margin: 0;
  }

  .intro-title,
  .intro-name {
    font-size: 46px;
  }

  .Typist {
    font-size: 36px;
  }

  .intro-subtitle {
    @apply mb-4 -mt-4;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
  }

  .intro-desc {
    @apply -mb-4;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
    padding-bottom: 40px;
  }
}
